.tab-card {
    border-radius: 8px;
    margin: 20px 0;
}

.tab-content {
    display: flex;
    justify-content: space-around;
    background: white;
}

.tabs {
    max-width: 300px;
    display: flex;
    background-color: var(--ui-color-lightgrey);
}

.tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

.tab:hover, .tab.active {
    background-color: white;
    color: var(--ui-color-orange);
}

/* payment style *****************************************************/
.fancy-form {
    max-width: 500px;
    min-width: 330px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label span {
    width: 150px; /* Adjust the width as needed */
    margin-right: 10px;
    font-weight: bold;
}

select,
input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select:focus,
input:focus {
    outline: none;
    border: 1px solid #3498db;
}

.save-button {
    width: 100px; /* Adjust the width as needed */
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    display: inline-block;
}

.save-button:hover {
    background-color: #2980b9;
}

.pay-button {
    width: 100px; /* Adjust the width as needed */
    background-color: var(--ui-color-orange);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
}

.pay-button:hover {
    background-color: var(--ui-color-orange);
}


/* calculator style *****************************************************/
.fancy-calculator {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    justify-content: space-evenly;
}


/* welcom card style *****************************************************/
.welcome-card {
    display: flex;
    background-color: var(--ui-color-mist);
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 20px;
}

.welcome-card-image img {
    margin-right: 20px;
    width: 150px;
    height: 180px;
}


/* Responsive styles */
@media screen and (max-width: 768px) {
    .fancy-calculator {
        display: block;
    }

    .calculator-col {
        max-width: 100%;
        text-align: left;
        margin-bottom: 3rem;
    }
    .welcome-card {
        display: block;
        zoom: 0.8;
    }
}

