header {
    background-color: white;
    /* box-shadow: 0 6px 36px var(--ui-modal-overlay); */
    padding: 10px 20px;
}

.branding-bar {
    top: 0;
    position: sticky;
    height: 3px;
    background-color: var(--ui-color-orange);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.navbar li {
    flex: 1;
}
.menu-item {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: color 0.3s ease-in-out;
    padding-top: 1rem;
}

.menu-item:hover {
    color: var(--ui-color-orange);
}

.menu-item img {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

.menu-item.active::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--ui-color-orange);
    bottom: 0;
    left: 0;
}

.navbar {
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust as needed */
    left: 0;
    width: 100%;
    background-color: white;
}

.toggle-btn {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.5em;
    color: white;
    padding: 0;
}

.toggle-btn span {
    display: block;
    height: 2px;
    width: 20px;
    background-color: black;
    margin: 6px 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Media query for mobile */
@media (max-width: 768px) {
    .navbar {
        display: none;
    }
    .navbar.active {
        display: flex;
    }

    .navbar ul {
        flex-direction: column;
    }

    .menu-item {
        text-align: left;
    }

    .toggle-btn.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .toggle-btn.active span:nth-child(2) {
        opacity: 0;
    }

    .toggle-btn.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -7px);
    }
}