:root {
    /* =================== Primary brand colour and tints ================== */
    --ui-color-orange: #ff5f00;
    --ui-color-orange-text: #fb4f00;
    --ui-color-tangerine: #ff9100;
    --ui-color-apricot: #fdf6ee;
  
    /* =================== Complementary colours and tints ================== */
    --ui-color-mist: #ecf9f3;
    --ui-color-lilac: #c5569a;
    --ui-color-tulip: #990066;
    --ui-color-lavender: #d28ac5;
    --ui-color-iris: #f8dbf5;
    --ui-color-rose: #ffecff;
    --ui-color-thistle: #fbf3f7;
  
    /* =================== Functionality colours ================== */
    --ui-color-bark: #512b2b;
    --ui-color-bark-rgb: 81, 43, 43;
    --ui-color-blue: #5b8ad6;
  
    /* Brown-scale colours */
    --ui-color-mediumbrown: #72605e;
    --ui-color-softbrown: #896f6f;
    --ui-color-lighterbark: #dec9c9;
    --ui-color-extrasoft-bark: #e5dcd7;
    --ui-color-lightbrown: #d4c4bc;
    --ui-color-darkvanilla: #d4b8a3;
  
    /* Greyscale colours */
    --ui-color-grey: #ebe7e2;
    --ui-color-listgrey: #999;
    --ui-color-lightgrey: #f9f8f6;
    
    /* =================== Alert colors ================== */
    --ui-color-alert-red: #c5131c;

    /* =================== Official font families ================== */
    --ui-font-family-subtitlemedium: 'Roboto', sans-serif;
    --ui-font-family-subtitlebold: 'Roboto', sans-serif;
    --ui-font-family-headlinebold: 'RobotoBold', sans-serif;
    --ui-font-family-headlineblack: 'RobotoBold', sans-serif;

    --ui-font-family-body: 'Roboto', Helvetica, Arial, sans-serif;
    --ui-font-size-body: 15px;
    --ui-line-height-body: 22px;
    --ui-font-body: normal var(--ui-font-size-body)/var(--ui-line-height-body) var(--ui-font-family-body);

    /* =================== Animations ============================== */
    --ui-transition-time: .25s;
    --ui-transition-function: ease-out;

    /* =================== Focus & Hover =========================== */
    --ui-color-tap: rgba(254, 236, 190, 0.5);
}
