/* Card Styles */
.section {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
}

.row {
    display: flex;
    justify-content: space-between;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border-bottom: 1px solid #dddddd80;
    text-align: right;
    padding: 8px;
}

th:first-child,
td:first-child {
    text-align: left;
}

th {
    background-color: var(--ui-color-mist);
}

tfoot {
    font-weight: bold;
}

.total-available {
    font-size: large;
}


.table-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container {
    display: flex;
}

.button-container a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.button-container a:hover {
    background-color: var(--ui-color-mist);
}

.button-container img {
    margin-right: 5px;
}

@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    table {
        width: 100%;
    }

    th,
    td {
        display: none;
    }

    th:first-child,
    td:first-child,
    th:last-child,
    td:last-child {
        display: table-cell;
    }

    /* Adjust the styling of the displayed columns as needed */
    th:first-child,
    td:first-child {
        text-align: left;
    }

    th:last-child,
    td:last-child {
        text-align: right;
    }

    .row {
        display: block;
        /* Set to full width on smaller screens */
        margin-right: 0;
        /* Remove margin on smaller screens */
        margin-bottom: 20px;
        /* Add space below each card on smaller screens */
    }
}